body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

button{
    cursor: pointer;
}

input{
    cursor: pointer;
}
  
  .cabecalho {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    gap: 50px;
  }
  
  .block-center {
    height: 85%;
    width: 70%;
    margin: auto;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .block {
    flex: 1;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
  }
  
  .tiltle {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
  }
  
  #add-task {
    height: 80%;
    width: 10%;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
  }
  
  #add-task:hover {
    background-color: greenyellow;
  }
  
  .text-G {
    font-size: 30px;
    font-weight: bold;
  }
  
  /* POPUP */
  
  .popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-conteudo {
    position: relative;
    background: #fff;
    margin: 15% auto;
    padding: 20px;
    height: 20%;
    width: 20%;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  .fechar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }

#novaTarefa{
    padding: 2%;
    width: 70%;
}
  
.enviartask{
    padding: 2%;
}

.infsTask{
    margin-top: 15%;
}

li{
  margin-top: 15px;
  font-size: 25px;
  background-color: ghostwhite;
  border-radius: 15px;
  width: 94%;
}

#lista-pendentes li,
#lista-concluidas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
}

.checkbox {
  margin-left: auto;
  cursor: pointer;
  transform: scale(2);
}

