body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: 1;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.cabecalho{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    gap: 50px;
}

.block-center{
    height: 85%;
    width: 70%;
    display: flex;
    padding: 16px 200px ;
    flex-direction: column;
    flex: 1;
}

.block{
    height: 30%;
    width: 100%;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
}

.tiltle{
    height: 10%;
    width: 95%;
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.content{
    height: 60%;
    width: 95%;
    padding: 10px;
    margin-left: 15px;
}

#add-task{
    height: 90%;
    width: 10%;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}

#add-task:hover{
    background-color: greenyellow;
}

.text-G{
    font-size: 30px;
    font-weight: bold;
}
